<div class="container">

    <h1 style="font-weight: 100">Hola Administrador, <strong>{{user.username}}</strong> </h1>

    <hr>
    <br>
    <a class="btn btn-sm merhackonaColor" href="/admin/create-store">Crear tienda</a>
    <a class="btn btn-sm merhackonaColor" href="/admin/create-product">Crear producto</a>
    <a class="btn btn-sm merhackonaColor" href="/admin/products-list">Lista de productos</a>
    <a class="btn btn-sm merhackonaColor" href="/admin/stores-list">Lista de tiendas</a>
    <br>


    <br>
    <a href="/" class="btn merhackonaColor">Volver a inicio</a>

</div>