<div class="container">
    <h1>Mi carrito</h1>
    <hr>
    <p><strong>¡Su compra ha sido procesada con éxito!</strong></p>
    <hr>
    <a href="/" class="btn merhackonaColor">Volver al catálogo</a>
</div>